<div id="footer">
  <p>
    © 2020-{{site.time | date: '%Y'}} {{site.copyright}}  •
    <a href="{{site.url}}{{site.baseurl}}/colophon/">Colophon</a>  •
    <a href="{{site.url}}{{site.baseurl}}/contact/">Contact</a>  •
    <a href="{{site.url}}{{site.baseurl}}/feed.xml">Feed</a>
  </p>
  <p>
    <a href="{{site.url}}{{site.baseurl}}/">the BentoBlog</a> is supported with <i class="soc-ko-fi" style="font-size: 125%; vertical-align:text-bottom;"></i></a>
    from all my <a href="https://ko-fi.com/voidlingBento">donors</a>.
  </p>
</div>