<div id="nav">
  <a href="{{site.url}}{{site.baseurl}}/">Blog</a> •
  <a href="{{site.url}}{{site.baseurl}}/about/">About</a> •
  <a href="{{site.url}}{{site.baseurl}}/projects/">Projects</a>
</div>
<div id="social-nav">
  <a href="https://github.com/voidlingBento/"><i class="soc-github"></i></a> •
  <a href="https://cohost.org/voidlingBento/"><i class="soc-cohost"></i></a> •
  <a href="https://bsky.app/profile/voidlingbento.bsky.social"><i class="soc-bluesky"></i></a> •
  <a href="https://www.instagram.com/voidlingbento"><i class="soc-instagram"></i></a> •
  <a href="https://discord.gg/fFNtGns"><i class="soc-discord"></i></a> •
  <a href="https://www.twitch.tv/voidlingbento"><i class="soc-twitch"></i></a> •
  <a href="https://www.youtube.com/@voidlingBento"><i class="soc-youtube"></i></a> •
  <a href="https://www.tiktok.com/@voidlingbento"><i class="soc-tiktok"></i></a>
</div>