<div id="nav">
  <a href="{{site.url}}{{site.baseurl}}/">Blog</a> •
  <a href="{{site.url}}{{site.baseurl}}/about/">About</a> •
  <a href="{{site.url}}{{site.baseurl}}/projects/">Projects</a>
</div>
<div id="social-nav">
  <a href="{{site.url}}{{site.baseurl}}/about/"><i class="soc-instagram"></i></a> •
  <a href="{{site.url}}{{site.baseurl}}/about/"><i class="soc-github"></i></a> •
  <a href="https://www.twitch.tv/rabbitdumpling"><i class="soc-cohost"></i></a> •
  <a href="{{site.url}}{{site.baseurl}}/about/"><i class="soc-bluesky"></i></a> •
  <a href="{{site.url}}{{site.baseurl}}/about/"><i class="soc-discord"></i></a> •
  <a href="{{site.url}}{{site.baseurl}}/about/"><i class="soc-twitch"></i></a> •
  <a href="{{site.url}}{{site.baseurl}}/about/"><i class="soc-youtube"></i></a> •
  <a href="{{site.url}}{{site.baseurl}}/about/"><i class="soc-tiktok"></i></a>
</div>
