<!DOCTYPE html>
<html lang="{{site.language}}">
  {% include head.html %}
  <body>
	<div id="main">
		{% include logo.html %}
		{% include nav.html %}
		<div id="content-left">
        {{content}}
      <hr>
      {% for post in site.categories[page.category] %}
        <div id="post-short">
          <a href="{{site.url}}{{site.baseurl}}{{post.url}}">
            <h3>{{post.title}}</h3>
          </a>
          <span class="date">posted on {{ post.date | date: "%-d %b %Y" }} by <a class="{{ post.author }}" href="{{site.url}}{{site.baseurl}}/authors/{{post.author}}/">{{ post.tag }}</a></span>
        </div>
      {% endfor %}
		</div>
		{% include footer.html %}
	</div>
    </body>
</html>
